@font-face{
  font-family: Roboto;
  src: url(assets/fonts/Roboto-Regular.ttf) format("opentype");
}

* {
  font-size: 105%;
  font-family: Roboto;
  color: #0395D8;
}

.F-IT_Btn{
  border-radius: 25px;
  border: 1px solid #0395D8;
  padding: 3px 4px 17px 6px;
  width: 98px;
  height: 26px;

}
