
<header>
    <!--div class="vl"></div>
    <div class="v2"></div>
    <div class="v3"></div>
        
    <div class="v4"></div>
    <div class="v5"></div>
    <div class="v6"></div-->
    <div>
        <div id="circle-header"></div>
    </div>

    <div class="MyHome_btn">
        <button class="F-IT_Btn"> My Home</button>
    </div>
    
</header>
<body>

<div>
    <ul id="navbar">
        <li class='fa fa-home'></li>
        <li id="chat-icon" class='fa fa-line-chart' style="font-size: 30px"></li>
        <li class='fa fa-gear'></li>
        <li class='glyphicon glyphicon-log-out'></li>
    </ul>
</div>

<div>
    <div class="shape" >
        <div style="align-content: center">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

