.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
    display: grid;
    grid-template-areas:
            'header header header header header header'
            'menu main main main right right'
            'menu footer footer footer footer footer';
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}
#circle-header {

    border: 8px solid #0395D8;
    border-radius: 50%;
    width: 50%;
    position: absolute;
    padding-top: 614px;
    left: 25%;
    bottom: 79%;


}
#circle2 {
    border: 8px solid #0395D8;
    border-radius: 50%;
    width: 700px;
    height: 512px;
    position: relative;
    margin-left: 599px;
    margin-top: -310px;
    line-height: 1.4em;

}
.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;

}
.vl {
    border-left: 1px solid green;
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}
.v2 {
    border-top: 1px solid red;
    width: 100%;
    position: absolute;
    top: 8%;
    margin-top: -3px;

}
.v3 {
    border-top: 5px solid black;
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top:-285px;

}
.v4 {
    border-left: 1px solid green;
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -760px;

}
.v5 {
    border-left: 1px solid green;
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: 760px;
}
.v6 {
    border-left: 1px solid green;
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: 820px;
    color: red;
}
.MyHome_btn{
    position: absolute;
    left: 48%;
    margin-top: 60px;


}
.dropdown-trigger btn{
    position: absolute;
    left: 47%;
    margin-top: 60px;
}
#navbar {
    position: absolute;
    left: 1%;
    top: 8%;
    border-radius: 110px;
    border: 1px solid #707070;
    padding: 20px;
    width: 54px;
    height: 262px;
}

#navbar li {
    margin: 11px 59px 2px -21px;
    font-size: 36px;
    padding: 10px;
    padding-top: 0px
}

.shape{
    position: absolute;
    left: 11%;
    top: 33%;
    border-radius: 110px;
    border: 1px solid #707070;
    padding: 20px;
    width: 81%;
    height: 100%;

}
.Room-name{
    text-align: center;
}


