<div>
  <mat-card>
    <mat-card-title>
      <h3 class="black-text center-align">{{lamp.name}}</h3>
    </mat-card-title>
    <mat-card-content>
      <div>
        <p><b>Type:</b> {{lamp.type}}</p>
        <p><b>Model ID:</b> {{lamp.modelid}}</p>
        <p><b>Version:</b> {{lamp.swversion}}</p>
      </div>
      <mat-tab-group>
        <mat-tab label="Lamp State">
          <div id="lampState">
            <p><b>ON/OFF</b> {{lamp.state.on}}</p>
            <p><b>Brightness</b> {{lamp.state.bri}}</p>
            <p><b>Hue</b> {{lamp.state.hue}}</p>
            <p><b>Saturation</b> {{lamp.state.sat}}</p>
            <p><b>X/Y</b> {{lamp.state.xy}}</p>
          </div>
        </mat-tab>
      <mat-tab label="Point Symbols">
          <div id="pointSymbols">
            <p><b>1</b> {{lamp.pointsymbol["1"]}}</p>
            <p><b>2</b> {{lamp.pointsymbol["2"]}}</p>
            <p><b>3</b> {{lamp.pointsymbol["3"]}}</p>
            <p><b>4</b> {{lamp.pointsymbol["4"]}}</p>
            <p><b>5</b> {{lamp.pointsymbol["5"]}}</p>
            <p><b>6</b> {{lamp.pointsymbol["6"]}}</p>
            <p><b>7</b> {{lamp.pointsymbol["7"]}}</p>
            <p><b>8</b> {{lamp.pointsymbol["8"]}}</p>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
